{
  "root": true,
  "env": {
    "node": true,
    "es2021": true,
    "browser": true
  },
  
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:vue/vue3-recommended",
    "@vue/prettier",
    "@vue/eslint-config-prettier"
  ],
  "parserOptions": { 
    "ecmaVersion": 2021
  },
}